/* 大容器樣式 */
.input-container {
  
  display: flex;
  border: 2px solid #292927; 
  border-radius: 10px; 
  padding: 5px;
  width: 300px;
  height: 50px;
  margin-left: 70px;
  margin-top: 5px ;
  margin-bottom: 40px;
  display: flex; /* 使用 Flexbox 排版 */
  align-items: center; /* 垂直置中 */
  box-sizing: border-box;
  background-color: #ffffff;
}

/* 輸入框樣式 */
.input {
  flex: 1; /* 讓輸入框佔滿剩餘空間 */
  border: none; 
  padding: 10px; 
  font-size: 14px; 
}

.input:focus{
  outline: none;
}


.search-button {
  background-color: #5b5b59; 
  color: white; 
  border: none; 
  border-radius: 5px; 
  padding: 8px 10px; 
  font-size: 16px; 
  font-weight: bold;
  cursor: pointer;
  box-sizing: border-box;
  z-index: 10;
  
  /*transition: background-color 0.3s; /* 背景顏色過渡效果 */
}


.search-button:hover {
  background-color: #818481; /* 滑鼠移上時的背景顏色 */
}