.login-container {
  display: flex; /* 使用 Flexbox 排版 */
  flex-direction: column; /* 垂直排列 */
  justify-content: center; /* 垂直置中 */
  align-items: center; /* 水平置中 */
  overflow: visible; /* 讓內容不會被隱藏 */
  margin: 50px auto; /* 容器本身置中 */
  width: 330px;
  height: 450px; /* 設定容器高度 */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.form-content {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}
.header {
  font-size: 30px;
  font-weight: bold;
  margin-top: 1px;
  color: #333; /* 標題顏色 */
  text-align: center; /* 文字置中 */
}
.input-group {
  display: flex;
  flex-direction: column; /* 標籤、輸入框垂直排列 */
  margin-bottom: 20px;
  width: 98%; /* 讓輸入框和標籤佔滿整個容器的寬度 */
}

.input-group label {
  /*display: block;*/
  margin-bottom: 3px;
  font-weight: bold;
}
.input-group input {
  display: block; /* 輸入框獨佔一行 */
  width: 100%;
  padding: 8px;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 14px;
}

.login-btn {
  display: block; /* 按鈕獨佔一行 */
  padding: 8px 24px;
  width: 50%;
  margin: auto;
  margin-top: 10px;
  border-radius: 10px;
  border: none;
  background-color: #22950be3;
  font-size: 16px;
  font-weight: bold;
  text-align: center; /*按鈕內文字置中*/
  line-height: 1.5;
  color: #fbf9f7;
  cursor: pointer;
}

.login-btn:hover{
  background-color: #1c6007; /* 滑鼠懸停時的顏色 */
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: #504f4f; /* 可調整顏色 */
  font-weight: bold;
  margin-top: 10px;
  width: 100%;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #504f4f;
  margin: 0 10px;
}

.register-link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  display: inline-block;
}

.register-link:hover {
  color: darkblue;
}