.back-btn {
  background-color: transparent; /* 移除背景色 */
  border: none; /* 移除邊框 */
  font-size: 16px; /* 設置文字大小 */
  font-weight: bold; /* 設置文字加粗 */
  color: #000; /* 設置文字顏色 */
  cursor: pointer; /* 滑鼠移上時顯示手型 */
  padding: 0; /* 移除內邊距 */
}
.home-icon {
  width: 32px;
  height: 32px;
}
img {
  border: none;
  background: transparent;
  opacity: 1;
}
