.task-container {
  display : flex;
  flex-direction:column; /* 子元素垂直排列 */
  align-items: center; /* 子元素水平置中 */
  height: 100vh; /* 高度為視窗高度 */
  background-color: transparent;
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
/* 切換按鈕容器 */
.task-switcher {
  display: flex;
  /*justify-content: center; /* 按鈕置中 */
  position: relative;
  width: 100%; 
  height: 40px;
  border-bottom: 0.8px solid #c5c5c3;
  }

/* 切換按鈕樣式 */
.task-btn {
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
  border: none; /* 移除邊框 */
  color: #898484; /* 預設灰色文字 */
  transition: background-color 0.3s, color 0.3s; /* 過渡效果 */
  text-align: center;
  min-width: 150px; /* 按鈕最小寬度 */
  width:100% ;
}

.task-btn.active {
  color: #060606; /* 點擊後的黑色文字 */
  /*border-radius: 5px;*/
  
}

.task-content{
  display: flex;
  flex-direction: column; /* 子元素垂直排列 */
  align-items: center; /* 子元素水平置中 */
  width: 100%;
  height: calc(100% - 40px); /* 減去按鈕的高度 */
  padding: 10px 20px 0px 20px; /* 上右下左 */
  background-color: white;
  overflow-y: auto;
}
 
.task-content::-webkit-scrollbar {
  display: none; 
}

.task-list {
  background-color: white; 
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 5px;
  transition: transform 0.3s; /* 過渡效果 */
  overflow-y: auto;
}

/* 列表項目 */
.task-item {
  position: relative;
  margin-bottom: 10px;
  padding:10px ;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff; /* 預設白色背景 */
  cursor: pointer;
  transition: background-color 0.3s; /* 背景顏色過渡效果 */
}

/* 滑鼠懸停效果 */
.task-item:hover {
  background-color: #ccc8c8; /* 懸停時的背景顏色 */
}
.task-time {
  position: absolute;
  top: 8px;
  right: 12px;
  color: #888;
  font-size: 10px;
}
.task-title{
  font-size: 18px;
  font-weight: bold;
  color: #191717;
  margin-bottom: 5px;
}
.task-region{
  font-size: 12px;
  color: #000000;
}
.task-reward {
  font-size: 12px;
  font-weight: bold;
  color: #ebca0d;
}
.task-date{
  font-size: 12px;
  color: #000000;
}
