/* 整個註冊頁面的容器 */
.register {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* 垂直和水平置中 */
  background-color: transparent;
}

.register-header-container {
  
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px; /* 設定高度 */
  background-color: transparent; /* 設定背景顏色 */
}
.register-header-content{
  position: relative;
  background-color: #eff2ec;
  width: 100%;
  height: 100%;
  padding: 40px;
}
.back-link {
  position: absolute;
  font-size: 30px;
  font-weight: bold;
  color: #050505; 
  cursor: pointer;
}

.signup-container { 
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100% - 80px);
  width: 100%;
  background-color: transparent;

}
.signup-content{
  position: relative;
  background-color: #eff2ec;
  width: 100%;
  height: 100vh;
  padding: 20px;
  padding-top: 0;
}


.title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 0px;
  color: #333;
  text-align: center; /* 標題置中 */
}



/* 每個輸入框的容器 */
.register-input-group {
  position: relative;
  display: flex;
  flex-direction: column; /* 標籤、輸入框垂直排列 */
  margin-bottom: 15px;
  padding-bottom: 17px;
  width: 100%;
  
}

/* 標籤樣式 */
.register-input-group label {
  display: block;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: bold;
  color: #555;
}

/* 輸入框樣式 */
.register-input-group input {

  display: block; /* 輸入框獨佔一行 */
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
  
}

/* 輸入框聚焦時的樣式 */
.register-input-group input:focus {
  border-color: #32887e;
  outline: none;
}
.register-input-group input.error {
  border: 1px solid red; 
}

.register-error-text {
  position: absolute;
  bottom: 0;
  left: 0;
  color: rgba(255, 0, 0, 0.658);
  font-size: 12px;
  font-weight: bold;
}

/* 提交按鈕樣式 */
.register-btn {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #40b2a4;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* 提交按鈕懸停時的樣式 */
.register-btn:hover {
  background-color: #32887e;
}

.swal2-confirm {
  background-color: #40b2a4 !important;
  color: #fff !important;
  border: none !important;
}